    header {
        width: 100%;
        /* Establecemos que el header abarque el 100% del documento */
        overflow: hidden;
        /* Eliminamos errores de float */
        background: #9BAA9B;
        margin-bottom: 20px;
    }
    
    .wrapper {
        width: 90%;
        /* Establecemos que el ancho sera del 90% */
        max-width: 1000px;
        /* Aqui le decimos que el ancho máximo sera de 1000px */
        margin: auto;
        /* Centramos los elementos */
        overflow: hidden;
        /* Eliminamos errores de float */
    }
    
    header .logo {
        color: #f2f2f2;
        font-size: 50px;
        line-height: 100px;
        float: left;
    }
    
    header nav {
        float: right;
        line-height: 100px;
    }
    
    header nav a {
        display: inline-block;
        color: #fff;
        text-decoration: none;
        padding: 10px 20px;
        line-height: normal;
        font-size: 20px;
        font-weight: bold;
        -webkit-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
    }
    
    .home:hover {
        background: #0A7D21;
        border-radius: 50px;
    }
    
    .about:hover {
        background: #26a6f2;
        border-radius: 50px;
    }
    
    .places:hover {
        background: #da8628;
        border-radius: 50px;
    }
    
    .contact:hover {
        background: #d8a51a;
        border-radius: 50px;
    }
    
    .la {
        text-align: center;
    }